<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <ol class="fs-5">
        <li><a href="index.html">Home</a></li>
        <li>Medications</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->
<section id="departments" class="departments">
  <div class="container">

    <div class="section-title ">
      <p style="text-align: left;">Here you will find information on medications that may be
        prescribed to treat brain tumors. Please note that every
        patient is unique and medications may affect individuals
        differently. Always consult with your healthcare provider
        before starting or stopping any medication.</p>
    </div>


    <div class="row mt-5 justify-content-around align-items-center">
      <div class="col-md-6 ">
        <h2>1-Chemotherapy</h2>
        <p>Chemotherapy uses anti cancer (cytotoxic) drugs to destroy brain tumour cells.
          The drugs circulate throughout your body in the bloodstream.</p>
        <p>You might have chemotherapy after surgery or if your brain tumour comes back.
          Common chemotherapy drugs for brain tumours are a drug called temozolomide. And a combination of drugs called
          procarbazine,
          lomustine and vincristine (PCV).</p>
        <p>It can be difficult to treat brain tumours with some chemotherapy drugs because
          the brain is protected by the blood brain barrier. This is a natural filter between the blood and the brain
          which
          protects the brain from harmful substances. </p>
      </div>
      <div class="col-md-6">
        <img width="480" src="assets/img/Chemotherapy.png" alt="">
      </div>
    </div>
    <div>
      <h3>Chemotherapy drugs</h3>
      <p>Chemotherapy drugs are powerful medications used to treat cancer by targeting and killing 
        rapidly dividing cancer cells. They are commonly used in the treatment of various types of 
        cancer, including brain tumors. Chemotherapy can be given alone or in combination with other 
        treatments such as surgery, radiation therapy, or immunotherapy. Here's some general 
        information about chemotherapy drugs:</p>

        <h5>1. How They Work:</h5>
        <p>Chemotherapy drugs work by interfering with the cell division process, 
          preventing cancer cells from growing and multiplying. However, they can 
          also affect healthy cells that divide rapidly, leading to side effects.</p>

          <h5>2. Administration:</h5>
          <p>Chemotherapy can be administered in various ways, including intravenous (IV) infusion, oral pills or capsules, 
            intrathecal (directly into the cerebrospinal fluid), or as implantable wafers.</p>

            <h5>3. Treatment Cycles:</h5>
            <p>Chemotherapy is typically given in cycles, with a treatment period followed 
              by a rest period to allow the body to recover from side effects.</p>

              <h5>4. Side Effects:</h5>
              <p>Common side effects of chemotherapy may include nausea, vomiting, fatigue, 
                hair loss, decreased blood cell counts (leading to increased risk of infection and bleeding),
                 and gastrointestinal issues. However, not all patients experience the same side effects, 
                 and they may vary depending on the specific drug and individual response.</p>

                 <h5>5. Combination Therapy:</h5>
                 <p>In brain tumor treatment, chemotherapy is often used in combination with other therapies to 
                  improve outcomes. It can be combined with radiation therapy, targeted therapies, or immunotherapies.</p>

                  <h5>6. Personalized Treatment:</h5>
                  <p>Each patient's treatment plan is individualized based on factors such as tumor type, stage, 
                    overall health, and other medical considerations. Not all brain tumors respond the same way to 
                    chemotherapy, and different drugs may be used for specific tumor types.</p>

                    <h5>7. Monitoring and Follow-up:</h5>
                    <p>During chemotherapy, patients are closely monitored for side effects and 
                      treatment effectiveness. Follow-up scans and tests are conducted to assess 
                      tumor response and make any necessary adjustments to the treatment plan.</p>



      <h4>When you have chemotherapy</h4>
      <p>You might have chemotherapy:</p>
      <ul>
        <li>after surgery for some types of brain tumour such as gliomas</li>
        <li>with radiotherapy and for some months afterwards</li>
        <li>for a brain tumour that has come back after treatmen</li>
      </ul>
      <a href="#tumorstype" style="color: brown; font-weight: bold; margin-bottom: 50px;">Find out more about the
        different types of brain tumours</a>

    </div>


    <h2 class="mt-5 pt-3">Types of chemotherapy</h2>
    <p>Common types of chemotherapy drugs for brain tumours include:</p>

    <div class="row gy-4">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Temozolomide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2"> Carmustine (BCNU)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Lomustine (CCNU)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Vincristine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Methotrexate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Cisplatin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Carboplatin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Etoposide</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Temozolomide</h3>
                <p class="fst-italic">Temozolomide is an oral chemotherapy drug commonly used to treat high-grade gliomas, 
                  such as glioblastoma multiforme. It works by damaging the DNA of cancer cells, inhibiting their growth 
                  and division. Temozolomide is often used in combination with radiation therapy to treat brain tumors.</p>
                <p>- Brand Name: Temodar</p>
                <p>- Administration: Oral (capsules)</p>
                <p>- Side Effects: Nausea, vomiting, fatigue, hair loss, and lowered blood cell counts.</p>
                <p>- Note: Temozolomide is often used as part of the standard treatment for glioblastoma 
                  multiforme and is known for its effectiveness against this aggressive brain tumor.</p>

              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm1.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Carmustine (BCNU)</h3>
                <p class="fst-italic">Carmustine, also known as BCNU, is an alkylating agent used for treating brain tumors, 
                  particularly gliomas. It is administered through implantable wafers or intravenously. Carmustine works by 
                  interfering with the DNA of cancer cells, preventing them from replicating and growing.</p>
                <p>- Brand Name: BiCNU</p>
                <p>- Administration: Implantable wafers or intravenous infusion</p>
                <p>- Side Effects: Nausea, vomiting, decreased appetite, and low blood cell counts.</p>
                <p>- Note: Carmustine wafers are surgically implanted into the brain tumor cavity after tumor resection, 
                  delivering localized chemotherapy directly to the tumor site.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Lomustine (CCNU)</h3>
                <p class="fst-italic">Lomustine, also known as CCNU, is another alkylating agent used to 
                  treat brain tumors. It is taken orally and can cross the blood-brain barrier, making it 
                  effective against brain cancers. Lomustine is often used in combination with other 
                  chemotherapy drugs for better results.</p>
                <p>- Brand Name: Gleostine</p>
                <p>- Administration: Oral (capsules)</p>
                <p>- Side Effects: Nausea, vomiting, delayed bone marrow suppression, and liver toxicity.</p>
                <p>- Note: Lomustine is commonly used to treat high-grade gliomas and is sometimes combined 
                  with other chemotherapy drugs.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Vincristine </h3>
                <p class="fst-italic">Vincristine is a vinca alkaloid chemotherapy drug used in the treatment of 
                  brain tumors, including medulloblastoma. It works by disrupting the formation of microtubules 
                  in cancer cells, hindering their ability to divide and spread.</p>
                <p>- Brand Name: Vincasar PFS</p>
                <p> - Administration: Intravenous infusion</p>
                <p>- Side Effects: Peripheral neuropathy, constipation, and hair loss.</p>
                <p>- Note: Vincristine is part of the standard treatment regimen for 
                  medulloblastoma and other pediatric brain tumors.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm4.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Methotrexate</h3>
                <p class="fst-italic">Methotrexate is an antimetabolite chemotherapy drug used for 
                  brain tumors like primary central nervous system lymphoma. It interferes with the 
                  production of DNA and RNA in cancer cells, leading to their death. Methotrexate can 
                  be administered intravenously or intrathecally.</p>
                <p>- Brand Name: Trexall, Rheumatrex</p>
                <p>- Administration: Intravenous infusion or intrathecal injection (directly into the cerebrospinal fluid).</p>
                <p>- Side Effects: Nausea, mouth sores, decreased blood cell counts, and liver function changes.</p>
                <p>- Note: Methotrexate is used to treat primary central nervous system lymphoma and some other brain tumors.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm5.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-6">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cisplatin</h3>
                <p class="fst-italic">Cisplatin is a platinum-based chemotherapy drug used to treat various cancers, 
                  including some brain tumors. It works by damaging the DNA of cancer cells and preventing them from 
                  multiplying. Cisplatin is often used in combination with other chemotherapy drugs.
                </p>
                  <p>- Brand Name: Platinol</p>
                  <p>- Administration: Intravenous infusion</p>
                  <p>- Side Effects: Nausea, vomiting, kidney damage, and nerve damage.</p>
                  <p>- Note: Cisplatin is commonly used in combination with radiation therapy for certain brain tumors.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm6.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-7">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Carboplatin</h3>
                <p class="fst-italic">Carboplatin is another platinum-based chemotherapy drug used to treat brain tumors. 
                  It is similar to cisplatin in its mechanism of action but may have fewer side effects. Carboplatin is 
                  often used in combination with other treatments.</p>
                  <p>- Brand Name: Paraplatin</p>
                  <p>- Administration: Intravenous infusion</p>
                  <p>- Side Effects: Nausea, hair loss, and decreased blood cell counts.</p>
                  <p>- Note: Carboplatin is often used as an alternative to cisplatin in some 
                    cases due to its potentially lower toxicity.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm7.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-8">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Etoposide</h3>
                <p class="fst-italic">Etoposide is a topoisomerase inhibitor chemotherapy drug used 
                  to treat certain brain tumors, such as germ cell tumors. It interferes with the 
                  enzyme topoisomerase, which is essential for DNA replication in cancer cells, 
                  causing their death.</p>
                <p>- Brand Name: VePesid</p>
                <p>- Administration: Intravenous infusion or oral capsules.</p>
                <p>- Side Effects: Nausea, hair loss, and lowered blood cell counts.</p>
                <p>- Note: Etoposide is used to treat germ cell tumors, including those that may occur in the brain.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm8.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>

        </div>
      </div>
      <p>It's important to note that the choice of chemotherapy drugs and their combination depends on the 
        specific type and stage of the brain tumor, as well as the individual patient's overall health and 
        medical history. Treatment plans are typically developed by a multidisciplinary team of oncologists 
        and neurosurgeons to provide the most effective and personalized care for each patient.
        chemotherapy can be an effective treatment for many types of cancer, including 
        brain tumors, it may not be suitable for all patients. The decision to undergo 
        chemotherapy is made collaboratively between the patient and their medical team, 
        taking into account the potential benefits and risks. The goal is to achieve the 
        best possible outcome while maintaining the patient's quality of life during and 
        after treatment.</p>
        <p>chemotherapy drugs can have varying side effects, and their use in brain tumor 
          treatment depends on the specific type of tumor and the patient's overall health. 
          Treatment decisions are made in consultation with healthcare professionals to 
          ensure the best possible outcomes and minimize side effects.</p>
    </div>

  </div>







  <div class="container">

    <div class="row mt-5 justify-content-around align-items-center">
      <div class="col-md-6 ">
        <h2>2-Targeted Therapy</h2>
        <p>Targeted therapy is a type of cancer treatment that uses drugs or other substances to precisely
          identify and attack certain types of cancer cells. A targeted therapy can be used by itself or
          in combination with other treatments, such as traditional or standard chemotherapy, surgery,
          or radiation therapy. If your treatment plan includes targeted therapy, knowing how it works
          and what to expect can often help you prepare for treatment and make informed decisions about your care.</p>
        <p>It can be difficult to treat brain tumours with some chemotherapy drugs because
          the brain is protected by the blood brain barrier. This is a natural filter between the blood and the brain
          which
          protects the brain from harmful substances. </p>
      </div>
      <div class="col-md-6">
        <img width="480" src="assets/img/Chemotherapy1.png" alt="">
      </div>
    </div>


    <h4>What is targeted therapy?</h4>
    <P>Targeted therapy is a type of cancer treatment that uses drugs designed to
      "target" cancer cells without affecting normal cells.Cancer cells typically have changes in
      their genes that make them different from normal cells. Genes are part of a cell's DNA that
      tell the cell to do certain things. When a cell has certain gene changes, it doesn't
      behave like a normal cell. For example, gene changes in cancer cells might allow the
      cell to grow and divide very quickly. These types of changes are what make it a cancer cell.</P>
    <P>But there are many different types of cancer, and not all cancer cells are the same.
      For example, colon cancer and breast cancer cells have different gene changes that help
      them grow and/or spread. Even among different people with the same general type of cancer
      (such as colon cancer), the cancer cells can have different gene changes, making one person's
      specific type of colon cancer different from another person's.</P>
    <P>Researchers have also learned that the environment in which different cancers start,
      grow, and thrive are not always the same. For example, some cancers have certain types
      of proteins or enzymes send certain messages to tell the cancer cell to grow and copy itself.
      Knowing these details has led to the development of drugs that can “target” these proteins or enzymes
      and block the messages being sent. Targeted drugs can block or turn off signals that make cancer cells
      grow, or can signal the cancer cells to destroy themselves.</P>
      <p>Targeted therapy is a type of cancer treatment that specifically targets certain molecules or 
        pathways that are involved in the growth and spread of cancer cells. Unlike traditional chemotherapy, 
        which affects both cancerous and healthy cells that divide rapidly, targeted therapy is designed to be 
        more selective and focused on cancer cells. Here's some information about targeted therapy:</p>

    <h5 class="mt-5">1. How targeted therapy works?</h5>
    <p>Targeted therapy drugs can work in different ways. Some drugs may block the action 
      of specific proteins that promote cancer growth, while others may interfere with the 
      signals that cancer cells use to divide and grow. Some targeted therapies may also 
      trigger the immune system to attack cancer cells.</p>
    <p>Targeted therapies are made to find and attack specific areas or substances in cancer
      cells, or can detect and block certain kinds of messages sent inside a cancer cell that
      tell it to grow. Some of the substances in cancer cells that become the "targets" of targeted therapies are:</p>
    <ul>
      <li>Too much of a certain protein on a cancer cell</li>
      <li>A protein on a cancer cell that is not on normal cells</li>
      <li>A protein that is mutated (changed) in some way on a cancer cell</li>
      <li>Gene (DNA) changes that aren't in a normal cell.</li>
    </ul>
    <p>The action of targeted drugs can work to:</p>
    <ul>
      <li>Block or turn off chemical signals that tell the cancer cell to grow and divide</li>
      <li>Change proteins within the cancer cells so the cells die</li>
      <li>Stop making new blood vessels to feed the cancer cells</li>
      <li>Trigger your immune system to kill the cancer cells</li>
      <li>Carry toxins to the cancer cells to kill them, but not normal cells</li>
    </ul>

    <p>The action of the drugs can affect where these drugs work and what side effects they cause.It's important
      to note that some targeted therapy drugs, for example, monoclonal antibodies, work in more
      than one way to control cancer cells and may also be considered immunotherapy because they
      boost the immune system.</p>

      <h5>2. Specific Molecular Targets:</h5>
      <p>Targeted therapy drugs are designed to interact with specific molecules that play critical 
        roles in cancer cell growth, survival, and spread. These molecules may include proteins, 
        enzymes, or receptors that are overexpressed or mutated in cancer cells.</p>

        <h5>3. Personalized Treatment:</h5>
        <p>Targeted therapy is often considered a personalized or precision medicine approach because 
          it takes into account the unique genetic and molecular characteristics of a patient's cancer. 
          This helps to tailor treatment to the individual's specific tumor type and its molecular profile.</p>

          <h5>4. Combination Therapy:</h5>
          <p>Targeted therapy can be used alone or in combination with other treatments such as 
            chemotherapy, radiation therapy, or immunotherapy. Combining different types of 
            therapies can enhance their effectiveness and improve outcomes.</p>

            <h5>5. Side Effects:</h5>
            <p>While targeted therapy is generally more selective in targeting cancer cells, 
              it can still have side effects. The side effects may be different from those 
              seen with traditional chemotherapy and can vary depending on the specific 
              drug and individual response.</p>

              <h5>6. Monitoring and Follow-up:</h5>
              <p>During targeted therapy, patients are closely monitored to assess treatment 
                effectiveness and manage any side effects. Follow-up tests and scans are conducted 
                to track the tumor's response to treatment.</p>

                <h5>7. Continuous Research:</h5>
                <p>Targeted therapy is a rapidly evolving field of cancer treatment. 
                  New drugs and targeted agents are continually being developed and 
                  tested in clinical trials to expand treatment options and improve outcomes for patients.</p>

                  <h5>8. Limitations:</h5>
                  <p>While targeted therapy has shown promising results in certain cancers, 
                    it may not be effective for all types of cancer. Some tumors may not have 
                    the specific molecular targets that these drugs can act upon.</p>

    <h2 class="mt-5">Types of Targeted Therapy</h2>
    <p>Common types of chemotherapy drugs for brain tumours include:</p>

    <div class="row gy-4">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-11">Bevacizumab (Avastin)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-22">Erlotinib (Tarceva)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-33">Temozolomide (Temodar)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-44">Trastuzumab (Herceptin)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-55">Imatinib (Gleevec)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-66">Everolimus (Afinitor)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-77">Osimertinib (Tagrisso)</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-11">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Bevacizumab (Avastin)</h3>
                <p class="fst-italic">Bevacizumab is a recombinant humanized monoclonal antibody that targets 
                  vascular endothelial growth factor (VEGF). VEGF is a protein that promotes the growth of new 
                  blood vessels, a process known as angiogenesis. By blocking VEGF, Bevacizumab inhibits the 
                  formation of new blood vessels around the tumor, starving it of nutrients and oxygen, and 
                  potentially slowing its growth. Bevacizumab is often used in the treatment of recurrent 
                  glioblastoma, a type of aggressive brain tumor.</p>
                <p>Bevacizumab is an anti-angiogenic drug that targets the vascular endothelial growth factor (VEGF), 
                  a protein that promotes the growth of blood vessels. By inhibiting VEGF, Bevacizumab reduces the 
                  blood supply to the tumor, starving it of essential nutrients and oxygen, and slowing its growth. 
                  It is used in the treatment of recurrent glioblastoma and other types of brain tumors.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm11.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-22">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Erlotinib (Tarceva)</h3>
                <p class="fst-italic">Erlotinib is a small molecule tyrosine kinase inhibitor that targets the epidermal growth 
                  factor receptor (EGFR). EGFR is a cell surface receptor that plays a key role in cell growth and division. 
                  In some brain tumors, EGFR is overexpressed or mutated, leading to uncontrolled cell growth. Erlotinib 
                  inhibits EGFR, disrupting the signals that promote tumor growth and progression. It is used in the treatment 
                  of certain types of brain tumors, such as glioblastoma and anaplastic astrocytoma.</p>     
                <p>Erlotinib is a tyrosine kinase inhibitor that targets the epidermal growth factor receptor (EGFR), a 
                  protein that is overexpressed in some brain tumors. By blocking EGFR, Erlotinib inhibits the growth 
                  and division of tumor cells, leading to tumor shrinkage and potential tumor regression. It is used 
                  in the treatment of glioblastoma and other EGFR-positive brain tumors.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm22.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-33">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Temozolomide (Temodar)</h3>
                <p class="fst-italic">Temozolomide is an oral alkylating agent that crosses the blood-brain barrier, 
                  allowing it to reach the brain tumor. Inside the tumor cells, temozolomide breaks down into a 
                  reactive compound that damages the DNA, leading to cell death. It is commonly used in the 
                  treatment of high-grade gliomas, including glioblastoma. Temozolomide can also be combined 
                  with radiation therapy, enhancing its effectiveness.</p>
                <p>Temozolomide is an alkylating agent that damages the DNA of tumor cells, leading to their death. It 
                  is an oral chemotherapy drug that is well-tolerated and can cross the blood-brain barrier to reach 
                  the brain tumor. Temozolomide is commonly used in the treatment of high-grade gliomas, including 
                  glioblastoma, and is often combined with radiation therapy to enhance its effectiveness.
                </p>
                
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm33.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-44">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Trastuzumab (Herceptin)</h3>
                <p class="fst-italic">Trastuzumab is a monoclonal antibody that targets the human epidermal growth factor 
                  receptor 2 (HER2), which is overexpressed in some brain tumors. HER2 is a cell surface receptor that 
                  promotes cell growth and division. Trastuzumab binds to HER2-positive tumor cells, inhibiting their 
                  growth and signaling pathways. It is used in the treatment of HER2-positive brain tumors.
                </p>
                <p>Trastuzumab is a monoclonal antibody that targets the human epidermal growth factor receptor 2 (HER2), 
                  a protein that is overexpressed in some brain tumors. By binding to HER2-positive tumor cells, 
                  Trastuzumab inhibits their growth and promotes cell death. It is used in the treatment of HER2-positive 
                  brain tumors, especially in cases of breast cancer metastasis to the brain.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm44.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-55">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Imatinib (Gleevec)</h3>
                <p class="fst-italic">Imatinib is a small molecule tyrosine kinase inhibitor that targets the BCR-ABL fusion 
                  protein, which is found in some brain tumors, such as glioblastoma. BCR-ABL is a fusion protein that promotes 
                  cell proliferation and survival. Imatinib blocks the activity of BCR-ABL, leading to tumor cell death. It is 
                  used in the treatment of certain types of brain tumors with BCR-ABL mutations.
                </p>
                <p>Imatinib is a tyrosine kinase inhibitor that targets the BCR-ABL fusion protein, which is found in 
                  certain brain tumors, such as glioblastoma. BCR-ABL is an abnormal protein that drives tumor growth 
                  and survival. Imatinib blocks the activity of BCR-ABL, leading to the death of tumor cells. It is 
                  used in the treatment of specific types of brain tumors with BCR-ABL mutations.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm55.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-66">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Everolimus (Afinitor)</h3>
                <p class="fst-italic">Everolimus is an mTOR inhibitor that blocks the mammalian target of rapamycin (mTOR) 
                  pathway. The mTOR pathway is involved in cell growth, proliferation, and survival. By inhibiting mTOR, 
                  everolimus slows down the growth and division of tumor cells. It is used in the treatment of 
                  subependymal giant cell astrocytoma (SEGA), a rare brain tumor associated with tuberous sclerosis.
                </p>
                  <p>Everolimus is an mTOR inhibitor that targets the mammalian target of rapamycin (mTOR) pathway, 
                    which plays a crucial role in cell growth and survival. By inhibiting mTOR, Everolimus slows 
                    down the growth and division of tumor cells. It is used in the treatment of subependymal giant 
                    cell astrocytoma (SEGA), a rare brain tumor associated with tuberous sclerosis.
                  </p>
                  
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm66.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-77">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Osimertinib (Tagrisso)</h3>
                <p class="fst-italic">Osimertinib is a third-generation epidermal growth factor receptor (EGFR) tyrosine 
                  kinase inhibitor. It targets specific mutations in the EGFR gene, which are common in some types of 
                  brain tumors. Osimertinib selectively inhibits these EGFR mutations, blocking the signals that drive 
                  tumor growth. It is used in the treatment of brain tumors with specific EGFR mutations.
                </p>
                  <p>Osimertinib is a third-generation EGFR tyrosine kinase inhibitor that specifically targets certain 
                    mutations in the EGFR gene that are common in some brain tumors. By inhibiting these specific EGFR 
                    mutations, Osimertinib blocks the signals that drive tumor growth. It is used in the treatment of 
                    brain tumors with specific EGFR mutations.</p>
                  
                  </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm77.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <p>Targeted therapy has emerged as a promising approach for the treatment of brain tumors, 
        as it offers more selective and less toxic treatment options. These drugs have the potential 
        to improve patient outcomes and quality of life. However, it's essential to consult with a 
        qualified healthcare provider to determine the most appropriate treatment plan based on the 
        specific type and characteristics of the brain tumor. Ongoing research and clinical trials 
        continue to advance our understanding of targeted therapy's role in brain tumor treatment.</p>
        <p>Targeted therapy is an evolving and promising approach in the treatment of brain tumors. These 
          drugs offer the potential for more effective and less toxic treatment options compared to 
          traditional chemotherapy. However, it's essential to consider individual patient characteristics, 
          tumor type, and genetic profile to determine the most suitable targeted therapy. Ongoing research 
          and clinical trials continue to advance our understanding and utilization of targeted therapies in 
          brain tumor treatment. While targeted therapy has shown promising results in certain cancers, it may not 
          be effective for all types of cancer. Some tumors may not have the specific molecular 
          targets that these drugs can act upon.</p>
        

    </div>

  </div>








  <div class="container">
    <div class="row mt-5 justify-content-around align-items-center">
      <div class="col-md-6 ">
        <h2>3-Corticosteroids</h2>
        <p>Corticosteroids, also known as glucocorticoids or steroids, are a class of hormones 
          produced naturally in the adrenal glands. Synthetic versions of these hormones are 
          used as medications to treat various medical conditions, including brain tumors. 
          Corticosteroids have anti-inflammatory and immunosuppressive properties, making 
          them effective in managing inflammation and reducing the body's immune response. 
          In the context of brain tumors, corticosteroids are often prescribed to alleviate 
          symptoms and improve the quality of life for patients. Here's some information 
          about their use:</p>
          <h5>1. Purpose and Benefits:</h5>
          <p>Corticosteroids are commonly used in brain tumor treatment to reduce brain swelling (edema) 
            caused by the tumor or its treatment. The brain swelling can lead to increased pressure inside 
            the skull, which can cause symptoms like headaches, nausea, vomiting, and changes in consciousness.</p>
            <p>By reducing inflammation and edema, corticosteroids can relieve these symptoms and improve neurological 
              function. This can enhance the patient's comfort and overall well-being during the treatment process.
            </p>

            <h5>2. Common Corticosteroids Used:</h5>
            <p>Dexamethasone: This is one of the most frequently prescribed corticosteroids for brain tumor patients. 
              It has potent anti-inflammatory effects and is available in different formulations, including tablets, 
              injections, and intravenous (IV) preparations.
            </p>
            <p>Prednisone: Another corticosteroid used to manage brain tumor-related edema. It is available 
              in oral form and is commonly used in combination with other treatments.</p>

              <h5>3. Dosage and Administration:</h5>
              <p>The dosage and duration of corticosteroid treatment depend on the severity of brain swelling 
                and the patient's individual response. The goal is to find the lowest effective dose that 
                provides symptom relief without causing significant side effects.
              </p>
              <p>Corticosteroids are usually administered orally in tablet form, but for 
                severe cases or when the patient cannot take oral medications, IV or 
                intramuscular injections may be used.</p>

                <h5>4. Side Effects:</h5>
                <p>While corticosteroids can be effective in managing symptoms, they are not 
                  without side effects. Prolonged use or high doses may lead to various side 
                  effects, including increased appetite, weight gain, mood changes, fluid retention, 
                  high blood pressure, and increased risk of infections.</p>
                  <p>It's crucial for patients to work closely with their healthcare team to monitor 
                    and manage these side effects. In some cases, a gradual tapering of the medication 
                    may be necessary to avoid withdrawal symptoms.
                  </p>

                  <h5>5. Precautions:</h5>
                  <p>Corticosteroids may interact with other medications, so it's essential for 
                    patients to inform their healthcare providers about all the medications they are taking.
                  </p>
                  <p>Abruptly stopping corticosteroid treatment can lead to adrenal insufficiency, a 
                    condition in which the body is unable to produce enough natural corticosteroids. 
                    Therefore, the dosage should be gradually tapered off under medical supervision.
                  </p>

                  <br>



        <p>Corticosteroids, often known as steroids, are an anti-inflammatory medicine.
          They're prescribed for a wide range of conditions.They're a synthetic version of hormones, normally produced
          by the adrenal glands (2 small glands that sit on top of the kidneys).</p>
        <p>You might have chemotherapy after surgery or if your brain tumour comes back.
          Common chemotherapy drugs for brain tumours are a drug called temozolomide. And a combination of drugs called
          procarbazine,
          lomustine and vincristine (PCV).</p>
        <p>It can be difficult to treat brain tumours with some chemotherapy drugs because
          the brain is protected by the blood brain barrier. This is a natural filter between the blood and the brain
          which
          protects the brain from harmful substances. </p>
      </div>
      <div class="col-md-6">
        <img style="margin-bottom: 25px;" width="480" src="assets/img/Chemotherapy4.png" alt="">
        <img width="480" src="assets/img/Chemotherapy5.png" alt="">

      </div>
    </div>

    <h4 class="mt-3">What corticosteroids are used for</h4>
    <p>Corticosteroids are mainly used to reduce inflammation and suppress the immune system.</p>
    <p>They're used to treat conditions like:</p>
    <ul>
      <li>asthma , allergic rhinitis and hay fever</li>
      <li>urticaria (hives) , atopic eczema , chronic obstructive pulmonary disease (COPD)</li>
      <li>painful and inflamed joints, muscles and tendons</li>
      <li>inflammatory bowel disease (IBD) including Crohn's disease and ulcerative colitis</li>
      <li>giant cell arteritis and polymyalgia rheumatic</li>
      <li>multiple sclerosis (MS) , atopic eczema , lupus</li>
    </ul>

    <h2 class="mt-5 pt-3">Types of Corticosteroids</h2>
    <p>Common types of chemotherapy drugs for brain tumours include:</p>

    <div class="row gy-4">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-111">Dexamethasone (Decadron)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-222">Prednisone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-333">Methylprednisolone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-444">Hydrocortisone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-555">Betamethasone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-666">Triamcinolone</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-111">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Dexamethasone</h3>
                <p class="fst-italic">Dexamethasone is a potent corticosteroid commonly used to 
                  manage brain tumor-related edema and inflammation. It has anti-inflammatory 
                  properties that help reduce swelling and pressure inside the skull, alleviating
                   symptoms such as headaches and nausea.
                </p>
                <p>It is available in various formulations, including tablets, injections, and intravenous (IV) 
                  preparations, allowing flexibility in dosage and administration based on the patient's needs</p>
                  <p>Dexamethasone is often the first-line corticosteroid used in brain tumor treatment due to 
                    its effectiveness and relatively low mineralocorticoid activity.
                  </p>
                  <p>Dexamethasone is often the first-line corticosteroid used in brain tumor treatment due to its effectiveness and relatively low mineralocorticoid activity.
                  </p>

              
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm111.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-222">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Prednisone</h3>
                <p class="fst-italic">Prednisone is another corticosteroid used to control brain tumor-related 
                  edema and inflammation. It is commonly prescribed in oral tablet form and may be used in 
                  combination with other treatments.
                </p>
                <p>It works by suppressing the immune response and reducing inflammation, providing relief from 
                  symptoms caused by brain swelling.
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm222.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-333">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Methylprednisolone</h3>
                <p class="fst-italic">Methylprednisolone is a corticosteroid similar to prednisone, with anti-inflammatory and 
                  immunosuppressive effects. It is available in oral and intravenous 
                  formulations for different clinical situations.
                  - It is used to manage brain tumor-related edema and is often 
                  administered in hospitals when immediate relief is needed.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm333.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-444">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Hydrocortisone</h3>
                <p class="fst-italic">Hydrocortisone, also known as cortisol, is a natural corticosteroid produced by 
                  the adrenal glands. As a medication, it is available in various forms, including tablets, creams, 
                  and injections.
                </p>
                <p>It is used in brain tumor treatment to manage edema and 
                  inflammation, especially in situations where 
                  adrenal insufficiency is a concern.</p>
                <p>- Side Effects: Peripheral neuropathy, constipation, and hair loss.</p>
                <p>- Note: Vincristine is part of the standard treatment regimen for 
                  medulloblastoma and other pediatric brain tumors.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm444.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-555">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Betamethasone</h3>
                <p class="fst-italic">Betamethasone is a corticosteroid with anti-inflammatory and immunosuppressive 
                  properties. It is used to reduce brain swelling caused by brain tumors and their treatment.
                </p>
                <p>This medication is available in various forms, 
                  including tablets, injections, and topical preparations.
                </p>
                
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm555.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-666">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Triamcinolone</h3>
                <p class="fst-italic">Triamcinolone is a corticosteroid commonly used to manage brain 
                  tumor-related edema. It is available in various forms, including oral, 
                  injection, and topical preparations.
                </p>
                  <p>Triamcinolone works by suppressing the immune response and 
                    reducing inflammation, helping to alleviate 
                    symptoms caused by brain swelling.
                  </p>
                  
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/medications/mm666.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>It's essential to note that the choice of corticosteroid and its dosage will be determined by 
        the patient's specific condition, the severity of symptoms, and the individual's response to 
        treatment. Corticosteroids are valuable in managing brain tumor-related symptoms, but their 
        use should be closely monitored by healthcare professionals to minimize side effects and 
        optimize patient outcomes.</p>
    </div>

  </div>




</section>