<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="assets/img/BrainTumorLock_Main_Logo_2400x1800-removebg-preview.png" width="300" class="logo"
                    alt="">

                  <h4 class="mt-1 mb-5 pb-1">We are The BrainTumorLock Team</h4>
                </div>

                <form [formGroup]="loginForm">
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Email</label>

                    <input type="email" id="inputEmail" formControlName="email" class="form-control mb-3"
                      placeholder="Email address" required autofocus
                      [ngClass]="{'invalid': errorEmail?.invalid && (errorEmail?.dirty || errorEmail?.touched)}">
                    <div class="alert alert-danger"
                      *ngIf="errorEmail?.invalid && (errorEmail?.dirty||  errorEmail?.touched)">
                      <div *ngIf="errorEmail?.errors?.['required']">email is Required</div>
                      <div *ngIf="errorEmail?.errors?.['email']">Write the email correctly </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Password</label>

                    <input type="password" id="inputPassword" formControlName="password" class="form-control mb-3"
                      placeholder="Password" required
                      [ngClass]="{'invalid': errorPassword?.invalid && (errorPassword?.dirty || errorPassword?.touched)}">

                    <div class="alert alert-danger"
                      *ngIf="errorPassword?.invalid && (errorPassword?.dirty||  errorPassword?.touched)">
                      <div *ngIf="errorPassword?.errors?.['required']">password is Required</div>
                      <div *ngIf="errorPassword?.errors?.['minlength']">password must be at least than 8 character</div>
                    </div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" (click)="login()"
                      type="button">Log
                      in</button>
                  </div>



                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">

              <div class="text-white px-3 py-2 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a Team</h4>
                <p class="small mb-0">BrainTumorLock provides a wide range of resources and information for patients,
                  caregivers, and healthcare
                  professionals. From the latest research and medications to motivational stories, we strive to provide
                  comprehensive and
                  up-to-date information on brain tumors.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>