<main id="main">

  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1 class="hWelcome">Welcome BrainTumorLock</h1>
      <h2>Together To a Better Life</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose BrainTumorLock?</h3>
            <h4>Comprehensive Resources</h4>
            <p>
              BrainTumorLock provides a wide range of resources and information for patients,
              caregivers, and healthcare professionals. From the latest research and medications
              to motivational stories, we strive to provide comprehensive and up-to-date information
              on brain tumors.
            </p>

            <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Free and Accessible</h4>
                  <p>BrainTumorLock is completely free to use and accessible to anyone with an internet
                    connection. We believe that everyone should have access to the information and resources they need
                    to navigate their brain tumor journey</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Advanced Technology</h4>
                  <p>We utilize cutting-edge technology to provide advanced features such as
                    the DICOM viewer and tumor examination page. Our website also incorporates
                    machine learning algorithms to help diagnose brain tumors accurately.
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Empowering Community</h4>
                  <p>We understand the importance of support and community for those
                    affected by brain tumors. Our website features a section for motivational
                    disease stories and resources to connect with support groups and patient advocates.
                  </p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->


  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="fas fa-user-md"></i>
            <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Doctors</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="far fa-hospital"></i>
            <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Departments</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask"></i>
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Research Labs</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">

        <h2>Our website features a variety of resources, including: </h2>
        <p class="textJustfy ">A website dedicated to providing information and support for individuals and
          families affected by brain tumors. Our mission is to
          empower patients and caregivers with knowledge and
          resources to help navigate the challenges that come
          with a brain tumor diagnosis.
          At BrainTumorLock, we understand that a
          brain tumor diagnosis can be overwhelming and confusing.
          That's why we've created a website that provides easy-to-understand
          information about brain tumors, treatment options, and supportive care.
          Our goal is to help patients and caregivers make informed decisions
          about their care and to feel confident in their treatment choices.</p>
        <br>
        <ul class="text-start">
          <li>Information about different types of brain tumors and their treatments</li>
          <li>A Tumor Examination page where users can upload MRI scans of their tumors to receive a classification</li>
          <li>A Latest Research page with the most recent scientific findings and breakthroughs in brain tumor research
          </li>
          <li>A DICOM Viewer page that allows users to view and manipulate MRI images of brain tumors</li>
          <li>A Resources page with links to brain tumor support groups and other helpful organizations </li>
          <li>A Contact Us page where users can get in touch with our team for more information or support</li>
        </ul>

        <p class="textJustfy mt-4">We are committed to providing accurate and up-to-date information
          about brain tumors and their treatment options. Our team of experts
          includes neurosurgeons, neurologists, and other healthcare professionals
          who specialize in brain tumor care. We are constantly updating our website
          with the latest information and resources to ensure that our users have
          access to the most current information about brain tumors.</p>

        <p class="textJustfy">Thank you for visiting BrainTumorLock. We hope that our
          website can be a valuable resource for you and your loved
          ones during this difficult time..</p>

      </div>

      <div class="row mt-5">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4><a routerLink="tumor-examination">Tumor examination</a></h4>
            <p>attach a magnetic resonance imaging (MRI) image to be examined and obtain a
              positive or negative result</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4><a href="">pharmaceutical</a></h4>
            <p>Presentation of the necessary medicines for brain tumors, and
              the experiences of some doctors in treating brain tumors</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4><a href="">Doctors</a></h4>
            <p>View all doctors specializing in brain tumors and international hospitals</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4><a routerLink="latest-research">Researches</a></h4>
            <p>View the latest research that shows developments in brain tumors and shows
              the latest treatment methods that have been reached</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-wheelchair"></i></div>
            <h4><a href="">researchers</a></h4>
            <p>View all researchers around the world in the field of brain tumors</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-notes-medical"></i></div>
            <h4><a href="">DICOM</a></h4>
            <p>View an MRI image to edit it and make it easier to communicate
              the idea of treatment to other doctors</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Appointment Section ======= -->
  <section id="appointment" class="appointment section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Make an Appointment</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <form [formGroup]="appointmentForm" class="php-email-form">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
              data-msg="Please enter at least 4 chars" formControlName="name"
              [class.error]="appointmentForm.get('name')?.touched&& appointmentForm.get('name')?.errors !=null"
              required>
            <div class="alert alert-danger"
              *ngIf="appointmentForm.get('name')?.touched&& appointmentForm.get('name')?.errors !=null">
              <div *ngIf="errorName?.errors?.['required']">Please enter the Name </div>
            </div>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" formControlName="email" name="email" id="email"
              placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"
              [class.error]="appointmentForm.get('email')?.touched&& appointmentForm.get('email')?.errors !=null"
              required>
            <div class="alert alert-danger"
              *ngIf="appointmentForm.get('email')?.touched&& appointmentForm.get('email')?.errors !=null">
              <div *ngIf="errorEmail?.errors?.['required']">Please enter the email </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6 form-group mt-3 ">
            <input type="tel" class="form-control" name="phone" formControlName="phone" id="phone"
              placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
              [class.error]="appointmentForm.get('phone')?.touched&& appointmentForm.get('phone')?.errors !=null"
              required>
            <div class="alert alert-danger"
              *ngIf="appointmentForm.get('phone')?.touched&& appointmentForm.get('phone')?.errors !=null">
              <div *ngIf="errorPhone?.errors?.['required']">Please enter the phone </div>
            </div>
          </div>

          <div class="col-md-6 form-group mt-3">
            <input type="date" name="date" class="form-control datepicker" formControlName="date" id="date"
              placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
              [class.error]="appointmentForm.get('date')?.touched&& appointmentForm.get('date')?.errors !=null"
              required>
            <div class="alert alert-danger"
              *ngIf="appointmentForm.get('date')?.touched&& appointmentForm.get('date')?.errors !=null">
              <div *ngIf="errorDate?.errors?.['required']">Please enter the date </div>
            </div>
          </div>


        </div>

        <div class="form-group mt-3">
          <textarea class="form-control" name="message" formControlName="message" rows="5"
            [class.error]="appointmentForm.get('message')?.touched&& appointmentForm.get('message')?.errors !=null"
            required placeholder="Message "></textarea>
          <div class="alert alert-danger"
            *ngIf="appointmentForm.get('message')?.touched&& appointmentForm.get('message')?.errors !=null">
            <div *ngIf="errorMessage?.errors?.['required']">Please enter a short message for what you need</div>
          </div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit" (click)="setData()">Make an Appointment</button></div>
      </form>

    </div>
  </section><!-- End Appointment Section -->

  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container">

      <div class="section-title">
        <h2 id="tumorstype">Brain tumors</h2>
        <p>Brain tumors are abnormal growths of cells that develop in the brain. They can
          originate
          from brain tissue itself or can spread to the brain from other parts of the body
          (known as metastatic brain tumors). Brain tumors can be classified into different
          types based on their origin, behavior, and the type of cells involved. Here is a
          detailed explanation of the various types of brain tumors:</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Gliomas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Pituitary adenomas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Medulloblastomas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Schwannomas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Craniopharyngiomas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Primary CNS lymphomas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Metastatic brain tumors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Meningiomas</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Gliomas</h3>
                  <p class="fst-italic">Gliomas are the most common type of primary brain tumors, originating
                    from glial cells that provide support and nourishment to neurons. Gliomas can be further
                    categorized into different subtypes, including:</p>
                  <p>1- Astrocytomas: These tumors arise from astrocytes, star-shaped glial cells.
                    They can be low-grade (slow-growing) or high-grade (fast-growing) and may occur
                    in different parts of the brain.</p>
                  <p>2- Oligodendrogliomas: Oligodendrogliomas develop from oligodendrocytes, cells
                    responsible for producing myelin, a substance that insulates nerve fibers.
                    They are typically slow-growing tumors.</p>
                  <p>3- Ependymomas: Ependymomas form in the ependymal cells lining the ventricles or
                    central canal of the spinal cord. They can obstruct the flow of cerebrospinal fluid
                    (CSF) and cause hydrocephalus.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Pituitary adenomas</h3>
                  <p class="fst-italic">Pituitary adenomas: These tumors arise from the pituitary gland, a small gland
                    located
                    at the base of the brain. </p>
                  <p>Pituitary adenomas can affect hormone production and cause
                    various hormonal imbalances. They are generally slow-growing and can be treated with
                    surgery or medications.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Medulloblastomas</h3>
                  <p class="fst-italic">Medulloblastomas: Medulloblastomas are fast-growing tumors that primarily affect
                    children. They develop in the cerebellum, the part of the brain responsible for
                    balance and coordination.</p>
                  <p>Medulloblastomas are considered embryonal tumors, meaning
                    they originate from immature cells.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Schwannomas</h3>
                  <p class="fst-italic">Schwannomas: Schwannomas, also known as acoustic neuromas, arise from Schwann
                    cells,
                    which produce the protective covering (myelin) around nerves.</p>
                  <p>They often occur on
                    the vestibular nerve, which connects the inner ear to the brain, and can lead to
                    hearing loss and balance problems.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Craniopharyngiomas</h3>
                  <p class="fst-italic">Craniopharyngiomas: Craniopharyngiomas develop near the pituitary gland and
                    hypothalamus,
                    affecting hormone production and causing various symptoms.</p>
                  <p>They are usually benign but can
                    be challenging to treat due to their location near critical structures.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-6">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Primary CNS lymphomas</h3>
                  <p class="fst-italic">Primary CNS lymphomas: These tumors originate in lymphocytes, a type of immune
                    cell,
                    and can affect the brain, spinal cord, or eyes.</p>
                  <p>Primary CNS lymphomas are more common
                    in individuals with weakened immune systems.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-7">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Metastatic brain tumors</h3>
                  <p class="fst-italic">Metastatic brain tumors: Metastatic brain tumors occur when cancer cells from
                    other parts of the body, such as the lung, breast, or colon, spread to the brain.</p>
                  <p>
                    These tumors are named after the primary cancer site from which they originated.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-8">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Meningiomas</h3>
                  <p class="fst-italic">Meningiomas: Meningiomas originate from the meninges, the
                    protective membranes surrounding the brain and spinal cord.
                  </p>
                  <p>They are usually slow-growing tumors and are more common in women.
                    Meningiomas can often be removedthrough surgery, and most are benign (noncancerous).</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Departments Section -->

  <!-- ======= Doctors Section ======= -->
  <section id="doctors" class="doctors">
    <div class="container">

      <div class="section-title">
        <h2>Doctors</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4><a href="">Dr. Noureddine Yaghmour</a> </h4>
              <span>Brain and nerves</span>
              <p class="textJustfy">A neurologist from occupied Jerusalem. He holds a neurology specialty from Hadassah
                Hospital, and holds sub-specialties in autoimmune diseases of the nervous system and
                multiple sclerosis, in addition to a sub-specialization in vascular diseases of the
                nervous system and stroke, in addition to treating migraines and chronic headaches with
                Botox and other advanced treatments. He works in the Multiple Sclerosis Unit at Hadassah
                Hospital. He also teaches at the Faculty of Medicine and holds the title of Assistant
                Professor of Scientific Research at Al-Quds University.</p>

            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4><a href="">Sarah Jhonson</a> </h4>
              <span>Anesthesiologist</span>
              <p class="textJustfy">A neurologist from occupied Jerusalem. He holds a neurology specialty from
                Hadassah Hospital, and holds sub-specialties in autoimmune diseases of
                the nervous system and multiple sclerosis, in addition to a sub-specialization
                in vascular diseases of the nervous system and stroke, in addition to treating
                migraines and chronic headaches with Botox and other advanced treatments.
                He works in the Multiple Sclerosis Unit at Hadassah Hospital. He also teaches
                at the Faculty of Medicine and holds the title of Assistant Professor of Scientific
                Research at Al-Quds University.</p>

            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4><a href="">Dr. Ahmad</a> </h4>
              <span>Brain and nerves</span>
              <p class="textJustfy">A neurologist from occupied Jerusalem. He holds a neurology specialty from Hadassah
                Hospital, and holds sub-specialties in autoimmune diseases of the nervous system and
                multiple sclerosis, in addition to a sub-specialization in vascular diseases of the
                nervous system and stroke, in addition to treating migraines and chronic headaches with
                Botox and other advanced treatments. He works in the Multiple Sclerosis Unit at Hadassah
                Hospital. He also teaches at the Faculty of Medicine and holds the title of Assistant
                Professor of Scientific Research at Al-Quds University.</p>

            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4><a href="">Dr. sama </a> </h4>
              <span>Brain and nerves</span>
              <p class="textJustfy">A neurologist from occupied Jerusalem. He holds a neurology specialty from Hadassah
                Hospital, and holds sub-specialties in autoimmune diseases of the nervous system and
                multiple sclerosis, in addition to a sub-specialization in vascular diseases of the
                nervous system and stroke, in addition to treating migraines and chronic headaches with
                Botox and other advanced treatments. He works in the Multiple Sclerosis Unit at Hadassah
                Hospital. He also teaches at the Faculty of Medicine and holds the title of Assistant
                Professor of Scientific Research at Al-Quds University.</p>

            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Doctors Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
              data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
              class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
              class="collapsed">Dolor sit amet consectetur adipiscing elit? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum
                integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
              class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc
                vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                gravida quis blandit turpis cursus in.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
              class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem
              dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada
                nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
                tellus in metus vulputate eu scelerisque.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->



  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container">

      <div class="section-title">
        <h2>Gallery</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
              <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
              <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
              <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
              <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
              <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
              <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
              <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
              <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Gallery Section -->


</main><!-- End #main -->