<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <ol class="fs-5">
        <li><a href="index.html">Home</a></li>
        <li>contact</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->

<section class="inner-page">
  <div class="container">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
          frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form [formGroup]="contactForm" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control " formControlName="name" id="name"
                    placeholder="Your Name"
                    [class.error]="contactForm.get('name')?.touched&& contactForm.get('name')?.errors !=null" required>
                  <div class="alert alert-danger"
                    *ngIf="contactForm.get('name')?.touched&& contactForm.get('name')?.errors !=null">
                    <div *ngIf="errorName?.errors?.['required']">Please enter the Name </div>
                  </div>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" formControlName="email" name="email" id="email"
                    placeholder="Your Email"
                    [class.error]="contactForm.get('email')?.touched&& contactForm.get('email')?.errors !=null"
                    required>
                  <div class="alert alert-danger"
                    *ngIf="contactForm.get('email')?.touched&& contactForm.get('email')?.errors !=null">
                    <div *ngIf="errorEmail?.errors?.['required']">Please enter the Email</div>
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" formControlName="subject" name="subject" id="subject"
                  placeholder="Subject"
                  [class.error]="contactForm.get('subject')?.touched&& contactForm.get('subject')?.errors !=null"
                  required>
                <div class="alert alert-danger"
                  *ngIf="contactForm.get('subject')?.touched&& contactForm.get('subject')?.errors !=null">
                  <div *ngIf="erroSubject?.errors?.['required']">Please enter the subject</div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" formControlName="message" rows="5" placeholder="Message"
                  [class.error]="contactForm.get('message')?.touched&& contactForm.get('message')?.errors !=null"
                  required></textarea>
                <div class="alert alert-danger"
                  *ngIf="contactForm.get('message')?.touched&& contactForm.get('message')?.errors !=null">
                  <div *ngIf="errorMessage?.errors?.['required']">Please enter a short message for what you need</div>
                </div>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" (click)="setData()">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </div>
</section>