<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <ol class="fs-5">
        <li><a href="index.html">Home</a></li>
        <li>Tumor Examination</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->

<section id="tumor-examination" class="tumor-examination">
  <div class="container">

    <p>Upload your MRI image of the brain tumor for examination:</p>

    <div class="dicom-viewer mt-3">
      <h2>Upload DICOM Image</h2>
      <input type="file" id="file" accept="image/*" hidden>
      <div class="img-area" data-img="">
        <i class='bx bxs-cloud-upload icon'></i>
        <h3>Upload Image</h3>
        <p>Image size must be less than <span>2MB</span></p>
      </div>
      <div class="text-center d-flex justify-content-center align-items-center">
        <button class="select-image">Select Image</button>
      </div>
    </div>


  </div>
</section>