<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <ol class="fs-5">
        <li><a href="index.html">Home</a></li>
        <li>About</li>
      </ol>
    </div>

  </div>
</section><!-- End Breadcrumbs Section -->

<section class="inner-page">
  <div class="container">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container-fluid">
        <div class="row">
          <div class=" icon-boxes  px-lg-5">
            <h3>Welcome to BrainTumorLock</h3>
            <p>We are a team of dedicated individuals who are passionate about
              making a positive impact on the lives of brain tumor patients and their families.
            </p>




            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h2 class="title mb-4">Our Team</h2>

              <div class="row justify-content-around align-items-center">
                <div class="col-md-6">
                  <h5 class=" title ">Amer Al-Najjar</h5>
                  <p class="description">Amer is a dedicated and passionate web developer with a strong
                    focus on creating user-friendly and functional websites. He is experienced in a range
                    of programming languages, including Angular, JavaScript, and Python, and is always
                    eager to learn new technologies to stay up to date with the latest developments in
                    the field. Amer is committed to the mission of BrainTumorLock and is proud to contribute
                    his skills and expertise to a project that has the potential to make a real difference
                    in the lives of brain tumor patients and their families.</p>
                </div>
                <div class="col-md-6">
                  <h5 class="title ">Isam Kullab</h5>
                  <p class="description">Isam is a highly skilled web developer with a background
                    in computer science. He has extensive experience in programming languages such
                    as Python, JavaScript, and HTML/CSS, as well as a strong understanding of machine
                    learning algorithms and data analysis. Isam is passionate about using his skills
                    to create websites that are not only visually appealing but also highly functional
                    and easy to use. He is committed to the mission of BrainTumorLock and is excited
                    to be a part of a project that has the potential to improve the lives of brain tumor
                    patients and their families.</p>
                </div>

                <div class="col-md-6">
                  <h5 class="title">Saif Qudaih</h5>
                  <p class="description">Saif is a talented and dedicated web developer with a
                    keen eye for design and a strong commitment to creating websites that are both
                    functional and visually appealing. He has experience in a range of programming
                    languages, including Angular, Python, and JavaScript, and is always eager to learn
                    new technologies to stay ahead of the curve. Saif is passionate about using his skills
                    to make a positive impact in the world, and he sees BrainTumorLock as an opportunity to
                    contribute to a project that has the potential to help people in a meaningful way.</p>
                </div>
                <div class="col-md-6">
                  <p class="description">Together, the BrainTumorLock team is committed to
                    creating a website that is user-friendly, informative, and empowering
                    for brain tumor patients and their families. They are dedicated to staying
                    up to date with the latest developments in web development and machine learning,
                    and are always looking for ways to improve the website and its impact on the
                    lives of those who use it.</p>
                </div>

              </div>

            </div>





            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h2 class="title">Our Mission</h2>
              <p class="description">BrainTumorLock is dedicated to providing a comprehensive
                online platform for brain tumor patients, their families, and caregivers.
                Our mission is to offer a supportive and informative community that
                empowers patients to take control of their health and well-being. We
                strive to provide access to the latest research, cutting-edge treatments,
                and comprehensive resources to help our users navigate the complex world
                of brain tumor care. Our ultimate goal is to improve the quality of life
                for brain tumor patients and their loved ones by fostering a sense of hope,
                resilience, and community.</p>



              <div class="icon-box">
                <div class="icon"><i class="bx bx-atom"></i></div>
                <h4 class="title"><a href="">How We Can Help?</a></h4>
                <p class="description">At BrainTumorLock, we understand that receiving a brain
                  tumor diagnosis can be overwhelming and confusing for both patients and their
                  families. That's why we have created a platform that offers a wide range of services
                  and resources to help you navigate through this difficult time.</p>

                <p class="description">Our website provides comprehensive information on brain tumors,
                  their diagnosis, and treatment options. We offer a directory of healthcare professionals
                  who specialize in treating brain tumors and can connect you with the right doctor for
                  your specific needs. We also provide access to the latest research and clinical trials,
                  so you can stay up-to-date on the most promising treatment options available.</p>

                <p class="description">In addition to medical resources, BrainTumorLock offers emotional
                  and social support for patients and their loved ones. Our platform includes a
                  motivational disease stories section, where patients can share their stories of
                  overcoming brain tumors and inspire others to do the same. We also offer a support
                  group directory, so you can connect with others who are going through similar
                  experiences.</p>
              </div>
            </div>
            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Our Vision</a></h4>
              <p class="description">Our vision at BrainTumorLock is to be the leading online resource
                and community for individuals affected by brain tumors. We aim to provide the most up-to-date
                information on brain tumor treatment options, research developments, and supportive care
                services. In addition to our current offerings, we plan to continue expanding our resources
                to include more personalized support services, such as individualized treatment guidance
                and access to clinical trials. We also strive to promote awareness and advocacy for
                brain tumor patients and their families, and to foster a sense of community among
                those affected by this condition. Our ultimate goal is to improve the lives of
                those impacted by brain tumors and to contribute to finding a cure.</p>
            </div>
            <div class="row justify-content-around align-items-center">
              <div class="col-md-6">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-fingerprint"></i></div>
                  <h4 class="title"><a href="">Contact Us</a></h4>
                  <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium
                    voluptatum deleniti atque</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-gift"></i></div>
                  <h4 class="title"><a href="">Our Partners</a></h4>
                  <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium
                    voluptatum deleniti atque</p>
                </div>
              </div>
              <div class="col-md-6">

              </div>
              <div class="col-md-6"></div>

            </div>








          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  </div>
</section>